USE [master]
GO
/****** Object:  Database [NnhStudent_2410900032_Db]    Script Date: 26/09/2026 9:47:15 SA ******/
CREATE DATABASE [NnhStudent_2410900032_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NnhStudent_2410900032_Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\NnhStudent_2410900032_Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NnhStudent_2410900032_Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\NnhStudent_2410900032_Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NnhStudent_2410900032_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NnhStudent_2410900032_Db]
GO
/****** Object:  Table [dbo].[NnhStudent]    Script Date: 26/09/2026 9:47:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NnhStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NnhName] [nvarchar](100) NOT NULL,
	[NnhGender] [nvarchar](10) NOT NULL,
	[NnhBirthDay] [date] NOT NULL,
	[NnhEmail] [varchar](100) NOT NULL,
	[NnhPhone] [varchar](15) NOT NULL,
	[NnhActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NnhStudent] ADD  DEFAULT ((1)) FOR [NnhActive]
GO
USE [master]
GO
